@media (min-width: 1500px){
    body {
        padding-right: 200px;
        padding-left: 200px;
    }
    picture {
        padding-right: 400px;
    }
}

@media (min-width: 600px){
    picture {
        position: absolute;
        z-index: -1;
    }

    .menu {
        display: grid;
        grid-template-columns: 250px 1fr 250px;
        grid-template-rows: 250px 250px;
    }

    .data {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 1.5rem;
        width: 16rem;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 2/3;
        position: relative;
        right: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
    }

    h3 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .emoji-icon {
        position: absolute;
        display: inline-block;
        bottom: 9.8rem;
        left: 3rem;
        font-size: 34px;
    }

    .weather ul{
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .data, .weather{
        background-color: white;
        height: fit-content;
        opacity: 0.8;
    }

    ul {
        list-style: none;
        padding: 10px;
        padding-top: 0;
    }

    h2, h3 {
        background-color: rgba(0,122,13);
        padding: 10px;
        width:15rem;
        position: relative;
        right: 0.7rem;
        text-align: left;
        color: rgb(217, 214, 214);
    }
    .svg-icon {
        display: none;
    }
}